{# Template for survey application homepage. #}

{% extends "base.jinja2" %}

{% block title %}
    Survey Home
{% endblock title %}

{% block content %}
    Here is my content
{% endblock content %}
