{# Template for survey question page. #}

{% extends "base.jinja2" %}

{% block title %}
    Survey Question
{% endblock title %}

{% block content %}

    <h1>Question {{ qnum }}</h1>

    <form action="/questions/{{ qnum+1 }}">
        <p>{{ qtext }}</p>

        {% for choice in qchoices %}
            <input type="radio" name="question{{ qnum }}" value="{{ choice }}">
            {{ choice }}
            <br>
        {% endfor %}

        <button>Submit response</button>
    </form>

{% endblock content %}
