{# Template for survey question page. #}

{% extends "base.jinja2" %}

{% block title %}
    Survey Question
{% endblock title %}

{% block content %}

    Here is a survey question.

{% endblock content %}