{# Template for thank-you page (for completing the survey). #}

{% extends "base.jinja2" %}

{% block title %}
    Thank You!
{% endblock title %}

{% block content %}

    <h1>Thank You!</h1>
    <p>You may now close this window.</p>

{% endblock content %}
